body, html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Bree serif";
    font-weight: 400px;
    line-height: 1.2em;
    color: rgb(255, 253, 253);
  }

  .navbar{

    background-color: #FFF;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 90px;
    height: 70px;
    margin-top: 20px;
    
    
  }
  .nav-link{
    color: #000;
    font-family: "semiBold 600 Nunita Sans";
    font-weight: bold;
   

  }
  .navbar-brand{

    font-family: "Poppins";
    font-weight: bold;
    padding-left: 3%;


  }

.block{
    height: 600px;
    background-color: #F9BA4E;
    padding-top: 150px;
    margin-top: -30px;
   
}



.block2{


padding-left: 3%;
padding-right: 3%;
text-align: center;
padding-top: 40px;
padding-bottom: 50px;
margin-top: -30px;
line-height: normal;

}

.p-4{


  text-align: center;
  padding-left: 15%;
  padding-right: 10%;
  padding-top: 40px;
  line-height: 2cap;
  


}


  



.P-3 {

  text-align: center;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 50px;
  color: #fdfdfd;
  padding-bottom: 50px;
  background-color: #352a2a;

 


   

}
.impg {
padding-left: 10px;
padding-top: 10px;
font-family: "Black-montserrat", sans-serif;

}





.Aniga {
    font-family: "merriweather";
    text-align: center;
    top: 55%;
    width: 100%;
    font-size: 40px;
    letter-spacing: 8px;
    color: #FFF;
    padding-top: 20px;
    
  }

  .btn{

   margin-left: 40px;
  
  }


  .button {

    background-color: rgb(0, 0, 0);
    color: rgb(243, 241, 241);
    font-size: large;
    
  }
  .button:hover {

    background-color: #FF0000;
    color: rgb(240, 240, 240);


  }

  

 


  

